.index-container {
  width: 100%;
  height: 100%;
  background: rgba(24, 49, 140, 0.05);
  overflow: auto;
  .tab-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .personal-info{
      display: flex;
      margin: 30px 0 30px 30px;
      justify-content: flex-start;
      &>p{
        font-size: 18px;
        color: #666666;
        span{
          color: #18318C;
        }
      }
      p:nth-child(2){
        margin-left: 30px;
      }
    }
    .picker{
      margin: 1.25rem 1.875rem 0 0 ;
    }
  }
  .team-type {
    width: 96.3%;
    height: 10rem;
    margin: 1.875rem auto 1.25rem;
    display: flex;
    justify-content: space-between;

    .people-management {
      width: 43%;
      height: 10rem;
      background: #FFFFFF;
      border-radius: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .l-information {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 4%;
        .left-title {
          //width: 6rem;
          font-size:calc(100vw * 24 / 1920);
          font-family: "Source Han Sans CN-Medium, Source Han Sans CN";
          font-weight: 500;
          color: #313848;
          margin-bottom: 1.5625rem;
        }

        .number {
          font-size: 1.125rem;
          font-family: "SourceHanSansCN-Light-, SourceHanSansCN-Light";
          color: #313848;

          & > span {
            font-size: 3.375rem;
            font-family: "Roboto-Medium, Roboto";
            font-weight: 500;
            color: #18318C;
            margin: 0 0.5625rem 0 0.625rem;
          }
        }
      }

      .r-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 8.2%;
        .boy-info {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 1.5rem;
          & > img {
            width: 1.5rem;
            height: 1.5rem;
          }
          .el-progress{
            width: 24.375rem;
          }.el-progress-bar{
             width: 88%;
           }

          .prog-title{
            margin-left: 0.625rem;
            font-size: 1.125rem;
            font-family: "SourceHanSansCN-Light-, SourceHanSansCN-Light";
            color: #666666;
          }
        }

        .girl-info {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          & > img {
            width: 1.5rem;
            height: 1.5rem;
          }
          .prog-title{
            margin-left: 0.625rem;
            font-size: 1.125rem;
            font-family: "SourceHanSansCN-Light-, SourceHanSansCN-Light";
            color: #666666;
          }
          .el-progress{
            width: 24.375rem;
          }.el-progress-bar{
             width: 88%;
           }
        }
      }
    }

    .statics {
      width: 55.7%;
      height: 10rem;
      background: #FFFFFF;
      border-radius: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .statics-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .statics-num{
          font-size: 1.125rem;
          font-family: "SourceHanSansCN-Light-, SourceHanSansCN-Light";
          color: #313848;
          &>span{
            width: 48px;
            height: 51px;
            font-size: 42px;
            font-family: "Roboto-Medium, Roboto";
            font-weight: 500;
            margin-right: 0.3125rem;
            color: #18318C;
          }
        }
        .statics-title{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .divide{
            width: 4px;
            height: 14px;
            background: #18318C;
            margin-right: 0.625rem;
          }
          .divide1{
            width: 4px;
            height: 14px;
            background: #1ECDBE;
            margin-right: 0.625rem;
          }
          .divide2{
            width: 4px;
            height: 14px;
            background: #F4AB46;
            margin-right: 0.625rem;
          }
          .divide3{
            width: 4px;
            height: 14px;
            background: #F77D7D;
            margin-right: 0.625rem;
          }
          .people{
            font-size: 1.125rem;
            font-family: "SourceHanSansCN-Light-, SourceHanSansCN-Light";
            color: #313848;
          }
        }
      }
      .line{
        width: 1px;
        height: 40px;
        background: #18318C;
        opacity: 0.1;
      }
    }
  }

  .table-information {
    width: 96.3%;
    height: auto;
    margin: auto;
    overflow: auto;
    min-height: 43.75rem;
    background: #FFFFFF;
    border-radius: 0.625rem;

    .table-header {
      width: 96.2%;
      display: flex;
      justify-content: space-between;
      margin: 1.875rem auto 1.25rem;

      .filter-item {
        width: 49.7%;
        display: flex;
        justify-content: flex-start;

        .search {
          width: 33%;
          height: 40px;
          display: flex;
          align-items: center;
          border-radius: 5px;
          border: 1px solid rgba(49, 56, 72, 0.2);

          & > span {
            display: inline-block;
            font-size: 1rem;
            width: 3rem;
            margin-left: 0.6875rem;
          }

          /deep/ .el-input__inner {
            border: none;
          }
        }

        /deep/ .el-select {
          width: 20.3%;
          margin-left: 1.875rem;
        }

        /deep/ .el-range-editor.is-active, .el-range-editor.is-active:hover, .el-select .el-input.is-focus .el-input__inner {
          border-color: #18318C;
        }

        /deep/ .el-select .el-input__inner:focus {
          border-color: #18318C;
        }

        /deep/ .el-select:first-child .el-input .el-select__caret {
          color: #C0C4CC;
          font-size: 14px;
          transition: transform .3s;
          transform: rotateZ(0deg);
          cursor: pointer;
        }

        /deep/ .el-select:first-child .el-input .el-icon-::before {
          content: "\e778";
          position: absolute;
          width: 100%;
          height: 100%;
          color: #D9B371;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }


        /deep/  .el-icon-arrow-up:before {
          content: "\e78f";
        }


        .filter {
          width: 7.5rem;
          height: 2.5rem;
          text-align: center;
          background: #18318C;
          border-radius: 5px;
          font-size: 0.875rem;
          cursor: pointer;
          margin-left: 1.5625rem;
          font-family: "Source Han Sans CN-Regular, Source Han Sans CN";
          color: #FFFFFF;
          line-height: 2.5rem;
        }
      }

      .operate-btn {
        display: flex;
        justify-content: flex-start;

        .delete-btn {
          width: 7.5rem;
          height: 2.875rem;
          line-height: 2.875rem;
          text-align: center;
          background: #FFFFFF;
          border-radius: 5px;
          cursor: pointer;
          border: 1px solid #CB191A;
          font-size: 1rem;
          font-family: "Source Han Sans CN-Regular, Source Han Sans CN";
          color: #CB191A;
        }

        .add {
          width: 7.5rem;
          height: 2.875rem;
          cursor: pointer;
          text-align: center;
          line-height: 2.875rem;
          background: #F4AB46;
          border-radius: 5px;
          font-size: 1rem;
          margin-left: 1.875rem;
          font-family: "Source Han Sans CN-Regular, Source Han Sans CN";
          color: #FFFFFF;
        }
      }

    }

    .table-detail {
      width: 96.2%;
      margin: auto;

      /deep/ .el-table {
        border-radius: 10px 10px 0 0;
      }

      /deep/  .el-checkbox__inner {
        width: 1.125rem;
        height: 1.125rem;
      }

      /deep/ .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
        background-color: #18318C;
        border-color: #18318C;
      }

      /deep/ .el-checkbox__inner::after {
        height: 10px;
        left: 5px;
        top: 0px;
        width: 6px;
      }

      /deep/ .el-table th.el-table__cell > .cell {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        vertical-align: middle;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        width: 100%;
      }

      /deep/ .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
        content: '';
        position: absolute;
        display: block;
        background-color: #FFF;
        height: 2px;
        transform: scale(.5);
        left: 0;
        right: 0;
        top: 7px;
      }

      /deep/ .el-table .cell {
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: break-all;
        line-height: 23px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
      }

      tagblue1 {
        font-size: 0.875rem;
        font-family: "SourceHanSansCN-Light-, SourceHanSansCN-Light";
        color: #B93B3B;
      }

      .tagblue2 {
        font-size: 0.875rem;
        font-family: "SourceHanSansCN-Light-, SourceHanSansCN-Light";
        color: #469F48;
      }

      /deep/  .el-table__header-wrapper {
        thead {
          th {
            div {
              color: #313848;
              font-size: 16px;
            }
          }
        }
      }

      .pagination {
        width: 100%;
        margin: 1.25rem auto;
        text-align: right;

       /deep/ .el-pagination.is-background .el-pager li:not(.disabled).active {
          background-color: #F4AB46;
          color: #FFF;
        }

      }
    }
  }
}


